body {
    font-family: 'Poppins', sans-serif;
}


.botao {
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    width: 123px;
    padding: 16px 0;
    background-color: #FC7071;
    border-radius: 6px;
    border: solid 1px #FC7071;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.25));
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover {
    padding: 20px 14px;
    transition: 0.5s;
    text-decoration: underline;
}


.olho {
    width: 18px;
    height: 16px;
    color: #737380;
}