@media screen and (max-width: 360px) {

    /* ....Tela Inicial..... */

    .container-background {
        background-color: #3772FF;
    }


    .cabecalho__menu {
        position: relative;
        display: flex;
        padding: 48px;
        align-items: baseline;
    }
    
    .icone-mensagem {
        margin-left: 50px;
    }


    .icone-perfil {
        width: 40px;
        height: 40px;
        margin-left: 135px;
    }

    .cabecalho__vetor1 {
        position: absolute;
        left: -1px;
        top: 0px;
    }
 
    .vetor3 {
        position: absolute;
        width: 84.03px;
        height: 415px;
        left: 275.7px;
        top: 199px;
    }

    .cabecalho-patas {
        position: absolute;
        left: 225px;
        top: 0px;
    }

    .logo-inicial {
        padding: 48px 87px 40px 87px;
        text-align: center;
        width: 186.67px;
        height: 46px;
    }

    .titulo-inicial {
        font-weight: 500;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
    }

    .texto-inicial {
        width: 236px;
        height: 72px;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 auto;
        padding: 30px;
    }


    .secao-login {
        display: flex;
        flex-direction: column;
    }

    .botao__login {
        margin: 0 auto;
        width: 180px;
        height: 40px;  
        margin-bottom: 18px;     
    }

    .botao__cadastro {
        margin: 0 auto;
        width: 180px;
        height: 40px;
        margin-bottom: 18px; 
    }

    .ilustracao-inicial {
        position: relative;
        left: 33.66px;
        top: 21px;
    }
    

    .rodape {
        position: relative;
        width: 360px;
        background-color: #36D6AD;
        text-align: center;
        padding: 40px 0;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
    }

    /* ...tela de mensagem */

    .texto-mensagem {
        margin: 0 auto;
        padding: 48px 0 24px 0;
        width: 226px;
        height: 60px;
        color: #3772FF;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .form-container {
        margin: 0 auto 24px auto;
        width: 312px;
        left: 24px;
        background: #F7F7F7;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .formulario-mensagem {
        padding: 17px 16px;
    }

    .formulario-mensagem label{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #3772FF;
        padding: 15px 0 10px 0;
    }

    .formulario-mensagem input {
        box-sizing: border-box;
        width: 280px;
        height: 48px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        border: 1px solid #FFFFFF;
        padding-left: 10px;
    }
 
    .formulario-mensagem ::placeholder {
        color: #BCBCBC;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    #input-mensagem {
        box-sizing: border-box;
        width: 280px;
        height: 172px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        border: 1px solid #FFFFFF;
    }

    #input-mensagem::placeholder {
        padding: 10px 0 0 10px;
    }

    #botao__mensagem {
        padding: 40px 24px 24px 24px;
        text-align: center;
    }

    .botao-mensagem {
        width: 148px;
        height: 40px;
    }
    
}
