@media screen and (min-width: 0) {

    /* ....Background Images.... */

    .background-tela__inicio {
        background: url(../img/vetor1.svg), url(../img/vetor2.svg);
        background-repeat: no-repeat;
        background-position: top left, right;
        background-size: 352.11px, 84.03px;
        background-color: #3772FF;
    }

    .background-tela__cadastro-login {
        background: url(../img/Patas.svg), url(../img/vetor1.svg);
        background-position: top right, top left;
        background-repeat: no-repeat;
    }

    .background {
        background: url(../img/vetor1.svg);
        background-repeat: no-repeat;
        background-size: 352.11px;
    }


    /* ....Tela Inicial..... */


    .cabecalho__menu {
        position: relative;
        display: flex;
        padding: 48px;
        align-items: center;
    }

    .logo-barra__menu {
        display: none;
    }

    .icone-mensagem {
        margin-left: 50px;
    }

    .icone-perfil {
        position: absolute;
        height: 40px;
        right: 37px;
        top: 40px;
        border-radius: 100%;
    }

    .container-logo {
        text-align: center;
    }

    .logo-tela__inicio {
        padding: 48px 0 40px 0;
        width: 186.67px;
        height: 46px;
    }

    .titulo-principal__inicio {
        font-weight: 500;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
    }

    .subtitulo-inicio {
        width: 236px;
        height: 72px;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 auto;
        padding: 30px;
    }

    .subtitulo-inicio__alternativo {
        display: none;
    }

    .container-btn__tela-inicio {
        display: flex;
        flex-direction: column;
    }

    .botao__login {
        margin: 0 auto;
        width: 180px;
        margin-bottom: 18px;     
        padding: 12px 0;
    }

    .botao__cadastro {
        margin: 0 auto;
        width: 180px;
        padding: 12px 0;
        margin-bottom: 18px; 
    }

    .container-ilustracao__inicio {
        text-align: center;
    }
    
    .ilustracao-tela__inicio {
        position: relative;
        top: 21px;
    }

    .rodape {
        position: relative;
        width: 100%;
        background-color: #36D6AD;
        text-align: center;
        padding: 40px 0;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
    }

    /* ...tela de mensagem */

    .titulo-mensagem {
        margin: 0 auto;
        padding: 48px 0 24px 0;
        width: 226px;
        height: 60px;
        color: #3772FF;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .form-container {
        margin: 0 auto 24px auto;
        width: 312px;
        background: #F7F7F7;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .form {
        padding: 17px 16px;
        text-align: center;
    }

    .form label{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #3772FF;
        padding: 15px 0 10px 0;
    }

    .form input {
        box-sizing: border-box;
        width: 280px;
        height: 48px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        border: 1px solid #FFFFFF;
        padding-left: 10px;
    }

    .form ::placeholder {
        color: #BCBCBC;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    #input-mensagem {
        box-sizing: border-box;
        width: 280px;
        height: 172px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        border: 1px solid #FFFFFF;
        overflow: hidden;
    }

    #input-mensagem::placeholder {
        padding: 10px 0 0 10px;
    }

    #input-mensagem:focus {
        border-color: #808080;
    }

    .botao-mensagem {
        width: 148px;
        padding: 10px 0;
        margin: 40px 0 24px 0;
    }

    /* .....Página perfil...... */

    .titulo-perfil {
        width: 247px;
        margin: 0 auto;
        padding: 48px 0 24px 0;
        height: 60px;
        color: #3772FF;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .titulo__form-perfil {
        text-align: center;
        font-weight: 600;
        font-size: 21px;
        line-height: 24px;
        color: #737380;
    }

    .input-foto {
        text-align: center;
    }

    .input-foto input[type="file"] {
        display: none;
    }

    #label-foto__perfil {
        padding: 0;
    }

    .personal-figure {
        position: relative;
        width: 100px;
        height: 100px;
        left: 88px;
        border: 1px solid #36D6AD;
        border-radius: 50%;
    }

    .foto-perfil {
        box-sizing: border-box;
        border-radius: 100%;
        border: 2px solid transparent;
        transition: all ease-in-out .3s;
        width: 100px;
        height: 100px;
    }


    .foto-perfil__alterar {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #FC7071;
    }

    /* .....Pagina Login..... */ 

    .logo__cadastro-login {
        padding: 40px 0;
        width: 142.54px;
        height: 34.36px;
    }

    .titulo-login {
        text-align: center;
        font-weight: 400;
        line-height: 21px;
        font-size: 16px;
        color: #3772FF;
        padding: 16px 0 45px 0;
    }

    .form__login-cadastro {
        text-align: center;
    }

    .form__login-cadastro label{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #737380;
        padding: 15px 0 10px 0;
        display: block;
    }

    .olho-senha {
        position: absolute;
        right: 50px;
        top: 464px;
        width: 18px;
        height: 16px;
        color: #737380;
    }

    .form__login-cadastro input {
        box-sizing: border-box;
        /* width: 312px; */
        width: 90%;
        height: 40px;
        background: #F7F7F7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        mix-blend-mode: normal;
        border-radius: 6px;
        border: 1px solid #FFFFFF;
        padding-left: 10px;
    }
    
    input:focus {
        border: 1px solid #808080 ;
    }

    textarea:focus {
        border: 1px solid #808080 ;
    }

    .form__login-cadastro ::placeholder {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #BCBCBC;
    }

    .container__recuperar-senha {
        text-align: center;
        padding: 15px 0 32px 0;
    }

    .msg-erro {
        text-align: center;
        color: #FFFFFF;
        background-color: #FC7071;
        padding: 15px 0;
        margin-top: 20px;
        width: 312px;
        margin: 15px auto 0 auto;
        border-radius: 6px;
        display: none;
    }

    .msg-sucesso {
        text-align: center;
        color: #FFFFFF;
        background-color: #FC7071;
        padding: 15px 0;
        margin-top: 20px;
        width: 280px;
        margin: 15px auto 0 auto;
        border-radius: 6px;
        display: none;
    }

    .recuperar-senha {
        color: #FC7071;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        margin-top: 15px;
        border: none;
        background-color: #FFFFFF;
    }

    .botao-logar {
        width: 148px;
        padding: 10px 0;
        margin: 0 108px 201px 108px;
    }

    /* .....Página mudar senha.... */

    .titulo__nova-senha {
        text-align: center;
        font-weight: 400;
        line-height: 21px;
        font-size: 16px;
        color: #3772FF;
        padding: 16px 0 45px 0;
    }

    .botao__redefinir-senha {
        width: 148px;
        padding: 10px 0;
        margin: 32px 108px 201px 108px;
    }

    .botao__redefinir-logar {
        display: none;
        text-align: center;
        color: #FC7071;
        position: relative;
        top: 11px;
        font-size: 18px;
    }

    .input-mensagem-erro {
        display: block;
        margin-top: 10px;
        color: #FC7071;
    }


    /* .....Página cadastro...... */

    .titulo-cadastro {
        width: 312px;
        height: 71px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #3772FF;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 32px;
    }

    .olho-senha__cadastro {
        position: absolute;
        right: 50px;
        top: 575px;
    }

    .olho-senha__confirmar {
        position: absolute;
        right: 50px;
        top: 665px;
    }

    .botao-cadastrar {
        width: 148px;
        padding: 10px 0;
        margin: 40px 108px;
    }

    /* .....Página home..... */

    .titulo-home {
        margin: 20px auto 18px auto;
        padding: 24px 0;
        width: 226px;
        height: 40px;
        color: #3772FF;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .titulo-home br {
        display: none;
    }
    
    .adocao__ficha {
        background-color: #F6F6F6;
        display: flex;
        align-items:center;
        width: 100%;
        height: 196px;
        margin: 16px 0;
        justify-content: center;
    }

    .ficha__imagem {
        margin-left: 24px;
        margin-right: 16px;
        width: 148px;
        height: 148px;
    }

    .adocao__conteudo {
        height: 161px;
        position: relative;
        top: -17px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #737380;
    }

    .animal-nome {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #3772FF;
        padding: 16px 0 8px 0;
    }

    .adocao__contato {
        width: 148px;
        padding-top: 34px;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #737380;
    }

    .adocao__contato button{
        margin-right: 5px;
        width: 18px;
        height: 18px;
        background: none;
        border: none;
    }

    .adocao__contato span {
        margin-left: 7px;
        font-size: 10px;
    }

    .adocao__contato a {
        text-decoration: none;
        color: #737380;
        padding-top: 7px;
    }
}
