@media screen and (min-width: 1280px) {
    

    /* ....Background Images.... */

    .background-tela__inicio {
        background: url(../img/vetor1.svg), url(../img/vetor2.svg);
        background-repeat: no-repeat;
        background-position: top left, right;
        background-size: 560.97px, 134px;
        background-color: #3772FF;
    }
    
    .background-tela__cadastro-login {
        background: url(../img/vetor1.svg), url(../img/patas.svg), url(../img/vetor2.svg);
        background-position: top left, top right, right 265px;
        background-size: 560.97px, 294px, 134px;
        background-repeat: no-repeat;
    }
    
    .background {
        background: url(../img/vetor1.svg), url(../img/vetor2.svg);
        background-position: top left, right 265px;
        background-size: 560.97px, 134px;
        background-repeat: no-repeat;
    }

    .botao:hover {
        padding: 20px 14px;
        transition: 0.5s;
        text-decoration: underline;
    }


    /* ....Tela Inicial..... */


    .cabecalho__menu {
        width: 251.14px;
        height: 30.86px;
        padding: 64px 161.17px 37px 161.17px;
    }

    .icone-perfil {
        width: 56px;
        height: 48px;
        top: 56px;
        right: 172px;
    }

    .logo-barra__menu {
        width: 128px;
        height: 30.86px;
    }

    .logo-tela__inicio {
        width: 260px;
        height: 64px;
        padding: 0 0 40px 0;
    }

    .titulo-principal__inicio {
        line-height: 48px; 
    }

    .subtitulo-inicio {
        display: none;
    }

    .subtitulo-inicio__alternativo {
        width: 488px;
        height: 52px;
        padding: 24px 0 32px 0;
    }

    .botao__login {
        width: 362px;
    }

    .botao__cadastro {
        width: 362px;
    }

    .ilustracao-tela__inicio {
        width: 346px;
        height: 431.63px;
        top: 37px;
    }

    .rodape {
        padding: 45px 0;
    }

    /* ...tela de mensagem */

    .titulo-mensagem {
        padding: 90px 0 40px 0;
        width: 492px;
    }

    .form-container {
        margin: 0 auto 40px auto;
        width: 552px;
    }

    .botao-mensagem {
        width: 164px;
    }

    .botao-mensagem:hover {
        padding: 16px;
        width: 180px;
    }

    /* .....Página perfil...... */

    .titulo-perfil {
        width: 552px;
        padding: 90px 0 32px 0;
    }

    .titulo__form-perfil{
        padding-top: 32px;
    }

    .input-foto {
        text-align: center;
    }

    .input-foto input[type="file"] {
        display: none;
    }

    #label-foto__perfil {
        padding: 0;
        cursor: pointer;
    }
    
    .foto-perfil__alterar {
        padding-top: 5px;
    }

    /* .....Pagina Login..... */ 


    .logo__cadastro-login {
        width: 260px;
        height: 64px;
        padding: 0 0 64px 0;
    }

    .titulo-login {
        font-size: 18px;
        padding: 0 0 72px 0;
    }

    .form__login-cadastro {
        text-align: center;
    }

    .form-container__login-cadastro {
        width: 55%;
    }

    #input-senha__desktop {
        width: 50%;
    }

    #input-confirmar__desktop {
        width: 50%;
    }

    .olho-senha {
        position: absolute;
        right: calc(25% + 195px);
        top: 521px;
    }

    .form__login-cadastro input {
        width: 552px;    
    }

    .recuperar-senha:hover {
        font-size: 15px;
        transition: 0.5s;
        text-decoration: underline;
    }

    .botao-logar {
        width: 174px;
    }

    .botao-logar:hover {
        padding: 16px;
        width: 190px;
    }

    /* .....Página mudar senha.... */


    .botao__redefinir-senha {
        width: 174px;
        margin: 45px 108px 201px 108px;
    }

    .botao__redefinir-senha:hover {
        padding: 16px;
        width: 190px;
    }

    .botao__redefinir-logar {
        text-decoration: none;
        top: 17px;
    }

    .botao__redefinir-logar:hover {
      font-size: 24px;
      transition: 0.5s;
      text-decoration: underline;
    }


    /* .....Página cadastro...... */

    .titulo-cadastro {
        width: 552px;
        height: 78px;
        padding-bottom: 48px;
    }

    .olho-senha__cadastro {
        position: absolute;
        right: calc(25% + 195px);
        top: 653px;
    }

    .olho-senha__confirmar {
        position: absolute;
        right: calc(25% + 195px);
        top: 750px;
    }

    .botao-cadastrar {
        width: 174px;
    }

    .botao-cadastrar:hover {
        padding: 16px;
        width: 190px;
    }

    /* .....Página home..... */

    .titulo-home {
        padding: 100px 0 40px 0;
        width: 414px;
        height: 20px;
        font-size: 18px;
    }

    .titulo-home br {
        display: none;
    }

    .adocao__lista {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        padding: 0;
    }

    .adocao__ficha {
        width: 344px;
        margin: 0px;
    }

    .ficha__imagem { 
        width: 148px;
        height: 148px;
    }

    .adocao__conteudo {
        width: 145px;
        color: #444444;
    }
    
    .adocao__contato {
        padding-top: 30px;
    }

    .adocao__contato a {
        color: #444444;
    }
    
}