@media screen and (min-width: 0) {

    /* ....Background Images.... */

    .container-inicio {
        background: url(../img/vetor1.svg), url(../img/vetor2.svg);
        background-repeat: no-repeat;
        background-position: top left, right;
        background-size: 352.11px, 84.03px;
        background-color: #3772FF;
    }

    .container-login {
        background: url(../img/vetor-login.png), url(../img/vetor2-login.png);
        background-position: top left, left 368px;
        background-repeat: no-repeat;
    }

    .container {
        background: url(../img/vetor1.svg);
        background-repeat: no-repeat;
        background-size: 352.11px;
    }


    /* ....Tela Inicial..... */


    .cabecalho__menu {
        position: relative;
        display: flex;
        padding: 48px;
        align-items: center;
    }

    .logo-tablet {
        display: none;
    }

    .icone-mensagem {
        margin-left: 50px;
    }

    .icone-perfil {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 37px;
        top: 40px;
    }

    .alinhamento-logo {
        text-align: center;
    }

    .logo-inicial {
        padding: 48px 0 40px 0;
        width: 186.67px;
        height: 46px;
    }

    .titulo-inicial {
        font-weight: 500;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
    }

    .texto-inicial {
        width: 236px;
        height: 72px;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 auto;
        padding: 30px;
    }

    .texto-inicial__tablet {
        display: none;
    }

    .secao-login {
        display: flex;
        flex-direction: column;
    }

    .botao__login {
        margin: 0 auto;
        width: 180px;
        height: 40px;  
        margin-bottom: 18px;     
    }

    .botao__cadastro {
        margin: 0 auto;
        width: 180px;
        height: 40px;
        margin-bottom: 18px; 
    }

    .ilustracao-inicial {
        position: relative;
        left: 33.66px;
        top: 21px;
    }


    .rodape {
        position: relative;
        width: 100%;
        background-color: #36D6AD;
        text-align: center;
        padding: 40px 0;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
    }

    /* ...tela de mensagem */

    .texto-mensagem {
        margin: 0 auto;
        padding: 48px 0 24px 0;
        width: 226px;
        height: 60px;
        color: #3772FF;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .form-container {
        margin: 0 auto 24px auto;
        width: 312px;
        background: #F7F7F7;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .form {
        padding: 17px 16px;
    }

    .form label{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #3772FF;
        padding: 15px 0 10px 0;
    }

    .form input {
        box-sizing: border-box;
        width: 280px;
        height: 48px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        border: 1px solid #FFFFFF;
        padding-left: 10px;
    }

    .form ::placeholder {
        color: #BCBCBC;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }

    #input-mensagem {
        box-sizing: border-box;
        width: 280px;
        height: 172px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        border: 1px solid #FFFFFF;
    }

    #input-mensagem::placeholder {
        padding: 10px 0 0 10px;
    }

    #botao__mensagem {
        padding: 40px 24px 24px 24px;
        text-align: center;
    }

    .botao-mensagem {
        width: 148px;
        height: 40px;
    }

    /* .....Página perfil...... */

    .texto-perfil {
        width: 247px;
        margin: 0 auto;
        padding: 48px 0 24px 0;
        height: 60px;
        color: #3772FF;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .titulo__perfil {
        text-align: center;
        font-weight: 600;
        font-size: 21px;
        line-height: 24px;
        color: #737380;
    }

    .input-foto {
        text-align: center;
    }

    .input-foto input[type="file"] {
        display: none;
    }

    #label-foto__perfil {
        padding: 0;
        cursor: pointer;
    }

    .personal-figure {
        position: relative;
        width: 120px;
        height: 90px;
        left: 78px;
    }

    .foto-perfil {
        box-sizing: border-box;
        border-radius: 100%;
        border: 2px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        transition: all ease-in-out .3s;
    }

    .foto-perfil__alterar {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #FC7071;
    }

    /* .....Pagina Login..... */ 


    .logo-login {
        padding: 40px 0;
        width: 142.54px;
        height: 34.36px;
    }

    .titulo-login {
        text-align: center;
        font-weight: 400;
        line-height: 21px;
        font-size: 16px;
        color: #3772FF;
        padding: 16px 0 45px 0;
    }

    .area-login {
        text-align: center;
    }

    .area-login label{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #737380;
        padding: 15px 0 10px 0;
        display: block;
    }

    .olho-senha {
        position: absolute;
        right: 37px;
        top: 464px;
        width: 18px;
        height: 16px;
        color: #737380;
    }

    .area-login input {
        box-sizing: border-box;
        width: 312px;
        height: 40px;
        background: #F7F7F7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        mix-blend-mode: normal;
        border-radius: 6px;
        border: 1px solid #FFFFFF;
        padding-left: 10px;
    }

    .area-login ::placeholder {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #BCBCBC;
    }

    .link-senha {
        text-align: center;
        padding: 15px 0 32px 0;
    }

    .recuperar-senha {
        color: #FC7071;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        margin-top: 15px;
    }

    .botao-logar {
        width: 148px;
        height: 40px;
        margin: 0 108px 201px 108px;
    }

    /* .....Página cadastro...... */

    .titulo-cadastro {
        width: 312px;
        height: 71px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #3772FF;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 32px;
    }

    .olho-senha__cadastro {
        position: absolute;
        right: 37px;
        top: 575px;
    }

    .olho-senha__confirmar {
        position: absolute;
        right: 37px;
        top: 665px;
    }

    .botao-cadastrar {
        width: 148px;
        height: 40px;
        margin: 40px 108px;
    }

    /* .....Página home..... */

    .titulo-home {
        margin: 0 auto;
        padding: 24px 0;
        width: 226px;
        height: 40px;
        color: #3772FF;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .titulo-home br {
        display: none;
    }


    .adocao__ficha {
        opacity: 100%;
        background-color: #F6F6F6;
        display: flex;
        align-items:center;
        box-sizing: border-box;
        width: 360px;
        height: 196px;
        margin: 16px 0;
    }

    .ficha__imagem {
        margin-left: 24px;
        margin-right: 16px;
        width: 148px;
        height: 148px;
    }

    .adocao__conteudo {
        height: 161px;
        position: relative;
        top: -17px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #737380;
    }

    .animal-nome {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #3772FF;
        padding: 16px 0 8px 0;
    }

    .adocao__contato {
        width: 148px;
        padding-top: 34px;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #737380;
    }

    .adocao__contato button{
        margin-right: 5px;
        width: 18px;
        height: 18px;
        background: none;
        border: none;
    }

    .adocao__contato span {
        margin-left: 7px;
        font-size: 10px;
    }

    .adocao__contato a {
        text-decoration: none;
        color: #737380;
        padding-top: 7px;
    }
}
